@-webkit-keyframes mixer {
      0% {background-image: url(mixer.png);opacity: 0;}
   12.5% {background-image: url(mixer.png);opacity: 1;}
  25% {background-image: url(mixer.png);opacity: 1;}
  37.5% {background-image: url(mixer.png);opacity: 0;}
  50% {background-image: url(mixer.png);opacity: 0;}
  62.5% {background-image: url(mixer.png);opacity: 0;}
  75% {background-image: url(icingbag.png);opacity: 0;}
  87.5% {background-image: url(icingbag.png);opacity: 0;}
    100% {
        opacity: 0;
      }
}
@-webkit-keyframes icing {
     0% {background-image: url(icingbag.png);opacity: 0;}
    12.5% {background-image: url(icingbag.png);opacity: 0;}
    25% {background-image: url(icingbag.png);opacity: 0;}
    37.5% {background-image: url(icingbag.png);opacity: 1;}
    50% {background-image: url(icingbag.png);opacity: 1;}
    62.5% {background-image: url(icingbag.png);opacity: 0;}
    75% {background-image: url(icingbag.png);opacity: 0;}
    87.5% {background-image: url(icingbag.png);opacity: 0;}
      100% {
        opacity: 0;
      }
  }
@-webkit-keyframes cupcake {
     0% {background-image: url(cupcake.png);opacity: 0;}
  12.5% {background-image: url(cupcake.png);opacity: 0;}
  25% {background-image: url(cupcake.png);opacity: 0;} 
  37.5% {background-image: url(cupcake.png);opacity: 0;}
  50% {background-image: url(cupcake.png);opacity: 0;}
  62.5% {background-image: url(cupcake.png);opacity: 1;}
  75% {background-image: url(cupacake.png);opacity: 1;}
  87.5% {background-image: url(cupcake.png);opacity: 0;} 
  100% {background-image: url(cupcake.png);opacity: 0;}
}

#mix {
    width: 200px;
    height: 150px;
    align-content: : center;
    background-size: 100% 100%;
    -webkit-animation: mixer 5s linear infinite;
    -moz-animation: mixer 5s linear infinite;
    -o-animation: mixer 5s linear infinite;
    position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
  margin-left: 7px;
  margin-right: 7px;
}
#icing {
    width: 200px;
    height: 150px;
    align-content: : center;
    background-size: 100% 100%;
    -webkit-animation: icing 5s linear infinite;
    -moz-animation: icing 5s linear infinite;
    -o-animation: icing 5s linear infinite;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  margin-left: 7px;
  margin-right: 7px;
}
#cupcake {
    width: 100px;
    height: 100px;
    align-content: : center;
    background-size: 100% 100%;
    -webkit-animation: cupcake 5s linear infinite;
    -moz-animation: cupcake 5s linear infinite;
    -o-animation: cupcake 5s linear infinite;
    position: absolute;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
  margin-left: 7px;
  margin-right: 7px;
  -webkit-backface-visibility: hidden;
}
@-moz-keyframes mixer {
    0% { }
   50% { }
  100% { }
}
@-o-keyframes mixer {
    0% { }
   50% { }
  100% { }
}
@-moz-keyframes icing {
    0% { }
   50% { }
  100% { }
}
@-o-keyframes icing {
    0% { }
   50% { }
  100% { }
}
@-moz-keyframes cupcake {
    0% { }
   50% { }
  100% { }
}
@-o-keyframes cupcake {
    0% { }
   50% { }
  100% { }
}

.enter {
  background: white;
  border-radius: 100px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: geosanslight-Oblique;
}
@font-face {
  font-family: Geosanslight-Oblique;
  src: url(GeosansLight-Oblique.ttf);