header {
	text-align: center;
}
body {
	background-image: url("stripes.png");
	background-size:contain;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
	color: #b3d9ff;
	font-family: mark_my_words;
	font-size: 60px
}
.cupcakegif {border-style: solid;
	border-color: #ffffcc;
	border-width: 5px;
	border-radius: 300px;
	}
.header {
	padding: 10px;
	background: rgba(255, 204, 255, 0.5);
	width: 100%;
}
.headtext {
	display: inline;
	padding: 30px, 300px, 300px, 30px;
	text-align: center;
	font-family: Geosanslight-Oblique;
	color: #b3d9ff;
}
ol.lower-alpha {
	list-style-type: lower-alpha;
}
a{
	color:#ff6699;
	padding:30px;
}
@font-face {
	font-family: Geosanslight-Oblique;
	src: url(GeosansLight-Oblique.ttf);
}
@font-face {
	font-family: mark_my_words;
	src: url(mark_my_words.otf);
}
h2{
	font-family: mark_my_words;
	text-align: center;
	font-size: 30px;
}
.welcomemessage {
 max-width: 150px;
 position: absolute;
 top:37px;
 left: 52px;
 font-family: Geosanslight-Oblique;
 font-size: 20px;
 text-align: center;
}
.image {
	position: relative;
}
.subtitle {
	max-width: 250px;
	position:absolute;
	top:75px;
	left:360px;
	font-family: Geosanslight-Oblique;
	font-size: 18px;
	text-align:center;
}
.arrow {
	position: absolute;
	top:90px;
	left:250px;
}
.secondarrow{
	position: absolute;
	top:50px;
	left:605px;
}
.subtitle2{
	max-width: 250px;
	position:absolute;
	top:0px;
	left:695px;
	font-family: Geosanslight-Oblique;
	font-size: 18px;
}
.fbbutton{
	position:absolute;
	top:50px;
	left:778px;
}
.description {
	font-family: Geosanslight-Oblique;
	font-size: 18px;
}