header {
	text-align: center;
}
body {
	background-image: url("stripes.png");
	background-size:contain;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
	color: #b3d9ff;
	font-family: mark_my_words;
	font-size: 60px
}
#titletop{
	color: #b3d9ff;
	font-family: mark_my_words;
	font-size: 60px
}
.cupcakegif {border-style: solid;
	border-color: #ffffcc;
	border-width: 5px;
	border-radius: 300px;
	}
.header {
	padding: 10px;
	background: rgba(255, 204, 255, 0.5);
	width: 100%;
}
.headtext {
	display: inline;
	padding: 30px, 300px, 300px, 30px;
	text-align: center;
	font-family: Geosanslight-Oblique;
	color: #ff6699;
}
ol.lower-alpha {
	list-style-type: lower-alpha;
}
a{
	color:#ff6699;
	padding:30px;
}
@font-face {
	font-family: Geosanslight-Oblique;
	src: url(GeosansLight-Oblique.ttf);
}
@font-face {
	font-family: mark_my_words;
	src: url(mark_my_words.otf);
}
h2{
	font-family: mark_my_words;
	text-align: center;
	font-size: 30px;
}
.fbbutton{
	position:absolute;
	top:76px;
	left:778px;
}
.description {
	font-family: Geosanslight-Oblique;
	font-size: 18px;
}
.titles{
	font-family: mark_my_words;
	font-size:28px;
}
.bs-example{
	max-height:200px;
}
@media screen and (max-width: 700px){
    .carousel-control {
        top: 20%;
    }
}
.picture{
	border-top-left-radius: 200px;
	border-bottom-left-radius: 200px;
	border-top-right-radius: 200px;
	border-width: 3px;
	border-style:solid;
	border-color:grey;
	margin-left:155px;
	margin-top:75px;
	margin-bottom: 20px;
}
.banner {
	width:100%;
}